@model funko_store_1._0.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
}

    @Html.ActionLink("Realizar compra", "Comprar")
    <div class="row">
        <aside class="col-sm-3">
            <div class="card card-filter">
                <article class="card-group-item">
                    <header class="card-header">
                        <a class="" aria-expanded="true" href="#" data-toggle="collapse" data-target="#collapse22">
                            <i class="icon-action fa fa-chevron-down"></i>
                            <h6 class="title">Categoria</h6>
                        </a>
                    </header>
                    <div style="" class="filter-content collapse show" id="collapse22">
                        <div class="card-body">
                            @foreach (var cate in Model.categorias)
                            {
                                @Html.ActionLink(@cate.nomcate, null, new { cate = @cate.idcate }, new { @class = "btn btn-primary btn-block" })
                            }
                        </div> <!-- card-body.// -->
                    </div> <!-- collapse .// -->
                </article> <!-- card-group-item.// -->
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
        @Html.Partial("_PartialProducto")
    </div>
