@model IEnumerable<funko_store_1._0.Models.tb_pedido>
@{
    ViewBag.Title = "buscarxUsu";
}

@section Scripts
{
<script type="text/javascript">

        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='nomCliente']").val($("#Reporte").html());
            });
        });
</script>
   
}

<h2>Generar Reportes</h2>

@using (Html.BeginForm("Index", "Reporte", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
{
        //<div class="form-group">
            <label for="idusu">Usuario:</label>
            @Html.DropDownList("idusu",(SelectList)ViewBag.usuario,"Seleccione", new { @class="form-control" })
        //</div>
        //<div class="form-group">
            <label for="fecha1">Fecha: Desde </label>
            <input class="form-control" type="date" name="fecha1" id="fecha1" >
        //</div>
        //<div class="form-group">
            <label for="fecha2">Hasta </label>
            <input class="form-control" type="date" name="fecha2" id="fecha2" >
        //</div>
        //<div class="form-group">
            <input type="submit" class="btn btn-success" value="Generar" >
        //</div>
}
<br />
<div id="Reporte" class="table-responsive-sm" style="max-height:300px; overflow:auto;">

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                IdPedido
            </th>
            <th>
                Fecha
            </th>
            <th>
                Usuario
            </th>
            <th>
                (S/.) Importe
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idpedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecpedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idusu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
            </tr>
        }
    </tbody>
</table>

</div>
@using (Html.BeginForm("Export", "Reporte", FormMethod.Post))
{
    <input type="hidden" name="nomCliente" />
        <input type="submit" id="btnSubmit" value="Export PDF" class="btn btn-info"/>
}




