@model IEnumerable<funko_store_1._0.Models.tb_usuarios>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Usuarios</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "", new { @class = "btn btn-success" })
</p>
<div class="table-responsive-sm" style="max-height:300px; overflow:auto;">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Correo
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    Tarjeta
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idusu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomusu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipusu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direcenvio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tarjeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idusu }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.idusu }) |*@
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idusu })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>