@model IEnumerable<funko_store_1._0.Models.tb_pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Pedidos</h2>

<div class="table-responsive-sm" style="max-height:300px; overflow:auto;">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    ID Usuario
                </th>
                <th>
                    (S/.) Monto Total
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idpedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecpedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idusu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.ActionLink("Ver Detalle", "Detalle", new { id = item.idpedido }, new { @class = "btn btn-success" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>