@model IEnumerable<funko_store_1._0.Models.Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Productos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "", new { @class = "btn btn-success" })
</p>
<div class="table-responsive-sm" style="max-height:300px; overflow:auto;">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Cod. Barra
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Caracteristica
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Imagen
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idprodu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.codbar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomprodu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomcate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.caracte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        <img class="imagen" width="30px" height="40px" src="@Url.Content(string.Format("../Imagenes/{0}",item.imagen))" />
                        @* @Html.DisplayFor(modelItem => item.imagen)> *@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idprodu }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.idprodu }) |*@
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idprodu })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>