@model IEnumerable<funko_store_1._0.Models.Registro>
<link href="~/Content/MiEstilo.css" rel="stylesheet" />

<div class="cuerpo">
    <table border="1" cellpadding="0" cellspacing="0" class="tabla">
        <tr>
            <td>Codigo</td>
            <td>Descripción</td>
            <td>Precio</td>
            <td>Cantidad</td>
            <td>Monto</td>
            <td></td>
            <td></td>
        </tr>

        @foreach (var reg in Model)
        {
            <tr>
                <td>@reg.id</td>
                <td>@reg.nombre</td>
                <td>@reg.precio</td>
                <td>@reg.cantidad</td>
                <td>@reg.monto</td>
                <td>
                    <img class="imagen" src="@Url.Content(string.Format("../imagenes/{0}.png",@reg.id))" />
                </td>
                <td>@Html.ActionLink("Eliminar", "Eliminar", new { id = @reg.id })</td>
            </tr>
        }
    </table>


</div>