@model IEnumerable<funko_store_1._0.Models.tb_productos>
<div class="row">

    @foreach (var reg in Model)
    {
        <div class="col-sm-6 col-md-4" style="margin-bottom: 20px">
            <div class="thumbnail">
                <img width="242" src=@Url.Content(string.Format("../Imagenes/{0}",@reg.imagen)) alt="@reg.nomprodu">
                <div class="caption">
                    <h4>@reg.nomprodu</h4>
                    <p>@reg.descripcion</p>
                    <p>Categoría: @reg.tb_categorias.nomcate</p>
                    <h2>Precio: @reg.precio</h2>
                    <p>@Html.ActionLink("Seleccionar", "Seleccionar", new { id = reg.idprodu }, htmlAttributes: new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
    }

</div>